<div class="item">
    <!--<em>Cliquer sur le titre du projet pour visualiser son notebook<br></em>-->
    <hr style="height:3px; width:70%">
    {{ with .Params.link }} {{ $.Scratch.Set "link" . }} {{ end }}

    
    {{ with .Description }} {{ $.Scratch.Set "subtitle" . }} {{ end }}
    
    <!--| $.Scratch.Set "subtitle"-->

    <!--<h4><a href="{{ .Scratch.Get "link" }}"><i class="fa fa-link">&nbsp;</i>{{ .Title }}</a></h4>-->
    <h4><a href="{{ .Scratch.Get "link" }}">{{ .Title }}</a></h4>
    <!--<em>{{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</em>-->
    <!--<i class = "fa fa-calendar"></i>-->
    <h5>{{ $.Scratch.Get "subtitle" }} - {{ .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}</h5>
<!--    {{ range .Params.tags }}
    <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}"><kbd class="item-tag">{{ . }}</kbd></a>
    {{ end }}-->

</div>

